
@media screen and (max-width: 415px){
	body{
		background-color:#e3e3e3 ;
		height: 522px;
		width: 95%;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		text-align: center;
		font-family:'Bahnschrift';
		color: #8B53A6;
	}

	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}

	hr{
		margin-top: 10px;
	}
	
	.imag-arrow{
		width: 8%;
		height:8%;
		padding-left:47%;
	}

	.grid{
		display: grid;		
    	height: 100%;
    	grid-gap: 2px;
	}

	.main{
		grid-template-rows: 0.5fr 1fr 5fr ;
	}


	
	
	

	/*-----------------------------Header---------------------------*/

	.block{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.8fr 1.2fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.2fr 0.4fr; 
    	grid-template-columns:0.2fr 1fr 0.2fr;
    	background-color:;
	}



	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:1fr 1fr  ;
	}

	.block-form{
		display: grid;		
    	height: 100%;
    	grid-template-columns: 1fr 1fr;
    	grid-gap:2px;
    	
	}



	.data-forget{                           
		font-size:15px;
		text-align:center;
		vertical-align:middle;
		font-family:'Yu Gothic UI Semibold';
		letter-spacing: 1px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.opac{
		opacity: 0.6;
	}

	.sing-up{
		font-size:18px;
		text-align: center;
		font-family:'Haettenschweiler';
		letter-spacing: 2px;
		line-height: 1;
		color:#8B53A6;
	}

	.sing-face{ 
		font-size:15px;
		text-align: center;
		font-family:'Bahnschrift';
		letter-spacing: 2px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.input-email{
		width: 100%;
		height: 60px;
		border-radius: 30px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
	}

	.vl {
	  position: absolute;
	  left: 50%;
	  transform: translate(-50%);
	  border-top: 2px  solid #8B53A6;
	  width: 50%;
	  text-align: center;
	  font-family:'Bahnschrift';
	  font-size:15px;c
	  color: #8B53A6;
	}

	/* text inside the vertical line */
	.vl-innertext {
	  position: absolute;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  background-color: #e3e3e3;
	  border: 1px solid #8B53A6;
	  border-radius: 50%;
	  padding: 8px 10px;
	}

	.btn {
	  width: 60%; 
	  padding: 12px;
	  border: none;
	  border-radius: 4px;
	  margin: 2% 0 0 15%;
	  opacity: 0.85;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 20px;
	  text-decoration: none; 
	}


	.fb {
	  background-color: #3B5998;
	  color: white;

}