
@media screen and (max-width: 600px ){

	body{
		background-color: #e3e3e3;
		height: 95%;
		width: 95%;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		margin-top: 15%;
		padding-top: 3%;
		width: 90%;
		height: 40%;
		font-family:'Bahnschrift';
		border-radius: 10px;
		border:none;
		color:#8B53A6;
		background-color:#d10073;
	}

	h2{
		font-size:18px;
		text-align:center;
		font-family:'Yu Gothic UI Semibold';
		color:black;
	}

	a{
		 text-decoration: none;
		 color:white;
	}

	hr{
		margin-top: 9%;
	}

	
	.imag{
		width: 50%;
		height:65%;
		padding-left: 15%;
		padding-top: 0px;
	}

	.imag:active{
		width: 51%;
		height:65%;
	}

	.image-men{
		width: 50%;
		height:45%;
		padding-top: 23%;
		padding-left: 20%;
	}

	.imag-arrow{
		width: 40%;
		height:50%;
		margin-left:50%;
		margin-top: 4%;
		background-size:cover;
	}

	.image-men:active{
		width: 51%;
		height:46%;
		
	}



	.grid{
		display: grid;		
    	height: 100%;
	}

	.main{
		margin: 0;
		grid-template-rows: 0.1fr 1fr ;
		background-color:;
	
	}

	


	
	
	/*-----------------------------Header---------------------------*/

	.block{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.1fr 0.3fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-columns:0.3fr 1fr 0.3fr;
    	background-color:;
	}




	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.1fr 1fr ;
		grid-gap: 0px;
	}

	.block-form{
		display: grid;		
    	height: 95%;
    	grid-template-columns:0.4fr 1fr 0.4fr;
    	background-color:#e8e8e8 ;
    	border-bottom:1px solid grey;
	}

	

	.block-logo{
		display: grid;		
    	height: 100%;
    
    	grid-template-columns: 1fr 0.4fr;
    	grid-template-rows:2fr 2fr 2fr; 
	}

	.yes-no{
		display: grid;		
    	height: 100%;
    	grid-template-columns: 0.4fr 0.7fr 0.2fr 0.2fr;
	}



	.menu{
		border-radius: 15px;
		border:2px solid orange;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		background-color:; 
	}

	/*.menu:active{
		border-radius: 15px;
		background-color: green;
		box-shadow: none;
	}*/


	.data-forget{
		margin-left: 2%;
		font-size:15px;
		text-align:left;
		font-family:'Bahnschrift';
		letter-spacing: 1px;
		line-height: 1.2;
		color:#8B53A6;
	}

	.sing-up{
		padding-top:6%;
		font-size:18px;
		text-align: left;
		font-family:'Corbel';
		letter-spacing: 1.5px;
		line-height: 1;
		color:#8B53A6;
	}

	.marg-sing{
		margin-top: -3px;
		line-height: 1.2;
	}

	.zagol{
		margin-top: 5%;
		margin-left: 2%;
		font-size:14px;
		font-family:'Bahnschrift Light';
		letter-spacing: 1px;
		line-height: 1;
		color:#8B53A6;
		text-align: left;
	}



	.input-email{
		width: 250px;
		height: 35px;
		border-radius: 7px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
	}

	

	.collapsible {
	    background-color:#e3e3e3;
	    font-family:'Bahnschrift Light';
	    color: #8B53A6;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 15px;
	    border:1px solid #8B53A6;
	    border-radius: 10px;
	    margin-top: 3px;
	}



	.content {
	    padding: 0 18px;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
	    background-color: #e3e3e3;
	}
	
	
}