
@media screen and (max-width: 415px){
	body{
		background-color: #e3e3e3;
		height: 522px;
		width: 95%;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		text-align: center;
		font-family:'Bahnschrift';
		background-color: white;
		color: #8B53A6;
	}

	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}

	hr{
		margin-top: 10px;
	}
	

	.grid{
		display: grid;		
    	height: 100%;
    	grid-gap: 2px;
	}

	.main{
		grid-template-rows: 1fr 2fr ;
	}


	
	
	

	/*-----------------------------Header---------------------------*/

	.block{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.8fr 1.2fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.2fr 0.4fr; 
    	grid-template-columns:0.1fr 1fr 0.1fr;
    	background-color:;
	}



	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:1fr 0.9fr  ;
	}

	.block-form{
		display: grid;		
    	height: 100%;
    	grid-template-columns:0.5fr 1fr 0.5fr;
    	grid-gap:2px;
	}



	.data-forget{
		margin-top: -3px;
		font-size:14px;
		text-align:center;
		font-family:'Garamond';
		letter-spacing: 1px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.sing-up{
		margin-top: -0px;
		font-size:18px;
		text-align: center;
		font-family:'Bahnschrift';
		letter-spacing: 2px;
		line-height: 1;
		color:#8B53A6;
	}

	.sign-face{
		margin-top: -5px;
		font-size:15px;
		text-align: center;
		font-family:'Bahnschrift';
		letter-spacing: 2px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.input-email{
		width: 250px;
		height: 35px;
		border-radius: 7px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
	}


	.btn {
	  width: 70%; 
	  padding: 12px;
	  border: none;
	  border-radius: 4px;
	  margin: 2% 0 0 10%;
	  opacity: 0.85;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 20px;
	  text-decoration: none; 
	}


	.fb {
	  background-color: #3B5998;
	  color: white;

}