
@media screen and (max-width: 415px){

	body{
		background-color: #e3e3e3;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		text-align: center;
		font-family:'Bahnschrift';
		background-color: white;
	}


	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		padding-top:40px;
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}


	.grid{
		display: grid;		
    	height: 90vh;
	}

	.main{
		grid-template-rows: 0.5fr 1fr ;
	}



	
	
	

	/*-----------------------------Header---------------------------*/

	.grid-head{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.1fr 0.1fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-columns:1fr 0.5fr 1fr;
	}

	.lang{
		position: relative;
		border:none;
	}


	
	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:1fr 0.9fr  ;
	}

	.block-form{
		display: grid;		
    	height: 100%;
    	grid-template-columns:0.5fr 1fr 0.5fr;
    	grid-gap:2px;
	}


	.block-sett{
		background-color:; 
	}

	.data-forget{
		margin-top: -3px;
		font-size:14px;
		text-align:center;
		font-family:'Garamond';
		letter-spacing: 1px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.sign-face{
		margin-top: 17px;
		font-size:18px;
		text-align: center;
		font-family:'Impact';
		letter-spacing: 2px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.input-email{
		width: 250px;
		height: 35px;
		border-radius: 7px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
		color:black;
	}

	.btn {
  width: 60%; 
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 2% 0 0 15%;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
  text-align: center;
}
}