
@media screen and (max-width: 415px){
	body{
		background-color:  #e3e3e3;
		height: 522px;
		width: 95%;
	}

	select{
		border:none;
		background-color:  #e3e3e3;
	}

	input{
		/*text-align: center;*/
		font-family:'Bahnschrift';
	}

	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}

	hr{
		margin-top: 10px;
	}
	

	.grid{
		display: grid;		
    	height: 100%;
    	grid-gap: 2px;
	}

	.main{
		margin: 0;
		grid-template-rows: 0.1fr 0.1fr;
		background-color:;
	}


	.color{
		background-color: green;
	}
	
	
	/*-----------------------------Header---------------------------*/

	.block{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.1fr 0.3fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.2fr 0.4fr; 
    	grid-template-columns:0.2fr 1fr 0.2fr;
    	background-color:;
	}



	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.2fr 0.1fr  ;
    	grid-gap: 0px;
	}

	.block-form{
		display: grid;		
    	height: 100%;
    	grid-template-columns:0.15fr 1fr 0.1fr;
	}



	.data-forget{
		margin-left: 5px;
		font-size:17px;
		text-align:left;
		font-family:'Garamond';
		letter-spacing: 1px;
		line-height: 1;
		color:#8B53A6;
	}

	.sing-up{
		margin-top: -0px;
		font-size:16px;
		text-align: center;
		font-family:'Bahnschrift';
		letter-spacing: 2px;
		line-height: 1;
		color:#8B53A6;
	}

	.sign-face{
		padding-left:5px;
		font-size:14px;
		text-align: left;
		font-family:'Bahnschrift';
		letter-spacing: 1px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.input-email{
		width: 250px;
		height: 35px;
		border-radius: 7px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
	}

	ul {
	  margin: 0;
	  padding: 0;
	  position: absolute;
	}

	li {
	  background-color: #e3e3e3;
	  border: 1px solid #8B53A6;
	  border-radius: 50%;
	  cursor: pointer;
	  display: inline-block;
	  height: 15px;
	  margin: 0 3px;
	  width: 15px;
	}

	.current {
	  background-color: #8B53A6;
	  cursor: default;
	}


	li:active {
	  background-color:#8B53A6;
	}

	.ul-position{
		display: grid;		
    	height: 100%;
    	margin-left:-11%; 
 		margin-top: 5%;
    	grid-template-columns: 0.7fr 1fr 0.7fr;
	}
}