
@media screen and (max-width: 415px){
	body{
		background-color: #e3e3e3;
		height: 522px;
		width: 95%;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		text-align: center;
		font-family:'Bahnschrift';
		background-color: white;
	}

	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}

	

	img{
		border-radius: 10%;
		border:2px solid orange;
	}

	img:active{
		opacity: 0.5;
		border:1px solid orange;
	}
	

	.grid{
		display: grid;		
    	height: 100%;
	}

	.main{
		margin: 0;
		grid-template-rows: 0.3fr 1fr;
		background-color:;
	}


	
	.color{
		background-color: green;
	}
	

	/*-----------------------------Header---------------------------*/

	.block{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.2fr 0.3fr ;
	}

	.head-logo{
		display: grid;		
    	height: 100%;
    	grid-template-rows:0.1fr 0.2fr; 
    	grid-template-columns:0.2fr 1fr 0.2fr;
    	background-color:;
	}



	.grid-footer{
		display: grid;		
    	height: 100%;
    	grid-template-rows:1.2fr 1.2fr 1.2fr 0.5fr;
    	grid-gap: 6px;
	}

	.block-form{
		display: grid;		
    	height: 100%;
    	margin: 10px;
    	grid-template-columns: 1fr 0.2fr 1fr;
    	background-color: ;
	}



	.sing-up {
		font-size:18px;
		text-align: center;
		font-family:'Bahnschrift';
		letter-spacing: 2px;
		line-height: 1;
		color:#8B53A6;
	}

	.padd{
		transition: color 99999999s;
		color:#8B53A6;
		padding-top:20%;
	}

	.padd:active{
		color:orange;
		transition: color 0.2s;
	}

	.bck-img{
		background-size:cover;
		background-position:center;
		background-image:url(http://www.mebel.pro/media/uploads/images/d0b1c3c3344754421e7de04a11acb0fa.jpg);
		border-radius: 2px;
		box-shadow: 3px 3px 3px #8B53A6; 

	}

	.bck-img:active{
		box-shadow: 1px 1px 1px #8B53A6;
		color:green;
	}


	ul {
	  margin: 0;
	  padding: 0;
	  position: absolute;
	}

	li {
	  background-color: #e3e3e3;
	  border: 1px solid #8B53A6;
	  border-radius: 50%;
	  cursor: pointer;
	  display: inline-block;
	  height: 15px;
	  margin: 0 3px;
	  width: 15px;
	}

	.current {
	  background-color: #8B53A6;
	  cursor: default;
	}


	li:active {
	  background-color: #8B53A6;
	}

	.ul-position{
		display: grid;		
    	height: 100%;
    	margin-top: 8%; 
    	grid-template-columns: 0.7fr 1fr 0.7fr;
	}

	h2 {
	    position: relative;
    }
	h2 span {
	    color: #fff;
	    font-size: 15px;
	    text-align: center;
	    line-height: 2px;
	    padding: 10px;
    }

}